.AlmaProject {
    text-align: center;
    justify-content: center;
    background-color: black ;
  }
  
  .AlmaProject-Container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }