
.team-title {
    color: white;
}

.team-title-mobile {
    margin-top: 2vh;
    color: white;
    font-size: 6vw;
}

.team-members {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .team-member-container {
        height: 40vh;
        align-items: center;
        background-size: 100% 100% !important;
        display: flex;

        .filler {
            flex: 2.5;
            width: auto;
            clear: both;
        }

        .member-right {
            margin-right: 5%;

            .member-info {
                margin-right: 2vh;

                .more-info {
                    margin-left: -1vh;
                    justify-content: flex-start;
                }
            }
        }

        .member-left {
            margin-left: 5%;

            .member-info {
                margin-left: 2vh;

                .more-info {
                    margin-right: -1vh;
                    justify-content: flex-end;
                }
            }

        }

        .member {
            flex: 6 1;
            
            margin-top: 3%;

            @media (max-aspect-ratio: 8/5) {
                height: 60%;
            }

            @media (min-aspect-ratio: 8/5) {
                height: 75%;
            }

            .member-info {
                flex: 3 1;
                height: 100%;
                text-align: left;
                font-family: "Prompt", sans-serif;

                .member-name {
                    font-size: 1.5vw;
                    margin-top: 8%;
                }

                .member-role {
                    color: #49454F;
                    font-size: 1vw;
                    margin-top: 2%;
                }

                .member-description {
                    color: #49454F;
                    height: 44%;
                    font-size: 1vw;
                }

                .more-info {
                    display: flex;
                    flex-direction: row;
                    font-size: 1.25vw;
            
                    div {
                        background-color: #EEE8F4;
                        width: 10vw;
                        border-radius: 15vw;
                        padding: 0.25vw;
                        text-align: center;
                        box-shadow: 0vw 0.5vw 0.5vw -0.5vw #07070780;
                        margin-top: 0.5vh;
                        margin-bottom: -1vh;
                    }
                }
            }
    
            .member-image {
                flex: 2;
    
                img {
                    object-fit: cover;
                    width: 100%;
                }
            }

        }

    }

}

.team-members-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1.5vh;
}

.about-text-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-text {
    font-family: 'Prompt', sans-serif;
    font-size: 1vw;
    line-height: 2em;
    width: 39vw;
}

.about-text-mobile {
    font-family: 'Prompt', sans-serif;
    font-size: 3.5vw;
    line-height: 2em;
    width: 90vw;
}

.p1 {
    margin-top: 4vh;
}

.p2 {
    margin-top: 2vw;
    margin-bottom: 4vh;
}

.the-team {
    display: flex;
    justify-content: space-evenly;
}

.member {
    display: flex;
    // padding: 0px 0vw 0px 12vw;
    max-width: 46vw;
    align-items: center;
}

.member-low {
    margin-top: 4vh;
}

.the-team-mobile {
    margin-top: -6vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.team-member-mobile {
    margin-top: 6vh;
    background-color: #FFFFFF;
    border-radius: 5%;
    width: 56vw;
    text-align: left;
    padding: 4vh 10vw;
    font-family: "Prompt", sans-serif;

    .member-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3vh;

        img {
            width: 32vw;
        }
    }

    .member-name {
        font-size: 5.5vw;
        margin-bottom: 2vh;
    }
    
    .member-role {
        color: #49454F;
    }

    .member-description {
        color: #49454F;
    }

    .more-info {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 3.5vw;

        div {
            background-color: #EEE8F4;
            width: 32vw;
            border-radius: 15vw;
            padding: 1vw;
            text-align: center;
            box-shadow: 0vw 1vw 3vw -1.5vw;
            margin-top: 2vh;
            margin-bottom: -1vh;
        }
    }
}