
.team-title {
    color: white;
}

.team-title-mobile {
    margin-top: 2vh;
    color: white;
    font-size: 6vw;
}

.team-members {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-members-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -0.5vh;
}

.about-text-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-text {
    font-family: 'Prompt', sans-serif;
    font-size: 1vw;
    line-height: 2em;
    width: 42vw;
}

.about-text-mobile {
    font-family: 'Prompt', sans-serif;
    font-size: 3vw;
    line-height: 2em;
    width: 90vw;
}

.p1 {
    margin-top: 4vh;
}

.p2 {
    margin-top: 2vw;
    margin-bottom: 8vh;
}

.the-team {
    display: flex;
}

.member {
    width: 45vw;
}

.member-low {
    margin-top: 4vh;
}

.the-team-mobile {
    margin-top: -6vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.team-member-mobile {
    margin-top: 6vh;
    background-color: #FFFFFF;
    border-radius: 5%;
    width: 56vw;
    text-align: left;
    padding: 4vh 10vw;
    font-family: "Prompt", sans-serif;

    .member-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3vh;

        img {
            width: 36vw;
        }
    }

    .member-name {
        font-size: 5.5vw;
        margin-bottom: 2vh;
    }
    
    .member-role {
        color: #49454F;
    }

    .member-description {
        color: #49454F;
    }

    .more-info {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 3.5vw;

        div {
            background-color: #EEE8F4;
            width: 32vw;
            border-radius: 15vw;
            padding: 1vw;
            text-align: center;
            box-shadow: 0vw 1vw 3vw -1.5vw;
            margin-top: 2vh;
            margin-bottom: -1vh;
        }
    }
}