
.team-title {
    color: white;
}

.about-text {
    font-family: 'Prompt', sans-serif;
    font-size: 1vw;
    line-height: 2em;
}

.p1 {
    margin-top: 4vh;
}

.p2 {
    margin-top: 2vw;
    margin-bottom: 8vh;
}

.the-team {
    display: flex;
}

.member {
    width: 45vw;
}

.member-low {
    margin-top: 4vh;
}