.App {
  text-align: center;
  justify-content: center;
  background-color: white ;
}

.App-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.text-big {
  font-size: 4.5vw;
  font-weight: bold;
  font-family: 'Prompt', sans-serif;
}