.App {
  text-align: center;
  justify-content: center;
}

.App-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}